TOKEN="YOURTOKENHERE"

TIMEZONE=Europe/Helsinki

DYNAMODB_EVENTS_TABLE_NAME="FiilisData_staging"
DYNAMODB_USERS_TABLE_NAME="FiilisUsers_staging"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="eu-north-1"